@model List<Car>

<div class="container">
	<div class="row pt-4">
		<div class="col-6">
			<a class="btn btn-primary mb-2" asp-controller="Car" asp-action="Add">
				Add a new Car
			</a>
			</div>
			<div class="col-6 text-end">
				<h2>Car List</h2>
			</div>
		</div>
</div>
<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Model</th>
				<th>Make</th>
				<th>ManufactureYear</th>
				<th>Fuel</th>
				<th>Available</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var car in Model){
				<tr class="mb-1">
					<td>@car.Model</td>
					<td>@car.Make</td>
					<td>@car.ManufactureYear</td>
					<td>@car.Fuel</td>
					<td>@car.isAvailable</td>
					<td>
						<a class="btn btn-primary mh-5" asp-controller="Car" asp-action="Edit" asp-route-id="@car.Id">Edit</a>
						<form asp-controller="Car" asp-action="Delete" method="post" style="display:inline;">
							<input type="hidden" name="id" value="@car.Id" />
							<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this car?')">Delete</button>
						</form>
				</td>
				</tr>
			}
		</tbody>
	</table>
</div>
