@model List<Car>

<div class="container">
	<div class="row pt-4">
		<div class="col-6">
			<h2>Car List</h2>
			</div>
		</div>
</div>
<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Content</th>
				<th>Date</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var entry in Model){
				<tr>
					<td>@entry.Model</td>
					<td>@entry.Make</td>
					<td>@entry.ManufactureYear</td>
					<td>@entry.Fuel</td>
					<td>@entry.isAvailable</td>
					<td>Edit and Delete!</td>
				</tr>
			}
		</tbody>
	</table>
</div>