@model List<Customer>

<div class="container">
	<div class="row pt-4">
		<div class="col-6">
			<a class="btn btn-primary mb-2" asp-controller="Customer" asp-action="Add">
				Add a new Customer
			</a>
		</div>
	</div>
</div>
<div class="table-responsive">
	<table class="table table-stripd table-hover">
		<thead>
			<tr>
				<th>Lastname</th>
				<th>FirstName</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Address</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var customer in Model)
			{
				<tr class="mb-1">
					<td>@customer.LastName</td>
					<td>@customer.FirstName</td>
					<td>@customer.Email</td>
					<td>@customer.Phone</td>
					<td>@customer.Address</td>
					<td>
						<a class="btn btn-primary mh-5" asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.Id">Edit</a>
						<form asp-controller="Customer" asp-action="Delete" method="post" style="display:inline;">
							<input type="hidden" name="id" value="@customer.Id" />
							<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this customer?')">Delete</button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>