@model List<Rental>

<div class="container">
	<div class="row pt-4">
		<div class="col-6">
			<a class="btn btn-primary mb-2" asp-controller="Rental" asp-action="Add">
				Rent out a car!
			</a>
			</div>
			<div class="col-6 text-end">
				<h2>Rental List</h2>
			</div>
		</div>
</div>
<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Car Id</th>
				<th>Customer Id</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Price per day</th>
				<th>Total price</th>
				<th></th>
				</thead>
		<tbody>
			@foreach (var rental in Model)
			{
				<tr class="mb-1">
					<td>@rental.Car.Make @rental.Car.Model @rental.Car.ManufactureYear</td>
					<td>@rental.Customer.LastName @rental.Customer.FirstName (@rental.Customer.Address)</td>
					<td>@rental.StartDate</td>
					<td>@rental.EndDate</td>
					<td>@rental.PricePerDay</td>
					<td>@rental.TotalPrice</td>
					<td>
						<a class="btn btn-primary mh-5" asp-controller="Rental" asp-action="Edit" asp-route-id="@rental.Id">Edit</a>
						<form asp-controller="Rental" asp-action="Delete" method="post" style="display:inline;">
							<input type="hidden" name="id" value="@rental.Id" />
							<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this rent?')">Delete</button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
			